<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/member.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/news.css">
    <link rel="stylesheet" href="../css/home.css">
    
    <link rel="stylesheet" href="../slick/slick-theme.css">
    <link rel="stylesheet" href="../slick/slick.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" ></script>
</head>
<body  onscroll="myFunction()">
    <header class="">
        <div class="top-header bg-cam px-57 py-2" id="top-head">
            <div class="row _header-flex ">
                <div class="col-md-6  col-12 __header-flex ">
                    <div class="address-head">
                        <span><i class="fa-solid fa-location-dot color-wh"></i></span>
                        <span class="text-white ml-2">Tìm cửa hàng gần bạn</span>
                    </div>
                    <div class="time-head d-flex color-white">
                        <div class="time-start d-flex align-items-center mr-4">
                            <span><i class="fa-solid fa-clock color-wh "></i></span>
                            <span class="ml-2 text-white">Giờ mở cửa:</span>
                        </div>
                        <div class="">
                            <div>
                                <span class="text-white">Siêu thị:</span> <span class="text-white">6:00 - 23:00 (T2-CN)</span>
                            </div>
                            <div><span class="text-white">Cửa hàng:</span> <span class="text-white">0:00 - 24:00 (T2-CN)</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12  __header-flex-right">
                    <div class="lang-head-content">
                        <div class="active">
                            VN
                        </div>
                        <div>
                            EN
                        </div>
                    </div>
                    <div class="search-input">
                        <div class="d-flex form-search align-items-center">
                            <i class="fa-sharp font-13 text-white color-white fa-solid fa-magnifying-glass"></i>
                            <input type="search" class="p-2">
                        </div>
                    </div>
                    <div class="icon-head">
                        <div class="d-flex justify-content-between ">
                            <span class="active"><i class="fa-brands text-white fa-facebook "></i></span>
                            <span><i class="fa-brands text-white fa-instagram"></i></span>
                            <span><i class="fa-brands text-white fa-youtube"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bot-header px-57">
            <nav class="navbar navbar-expand-lg navbar-light  ">
                <a class="navbar-brand" href="#">
                    <img src="../images/layout/Logo.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                  <ul class="navbar-nav d-flex justify-content-end w-100">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TIN TỨC
                      </a>
                      <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Mới nhất</a>
                          <a class="dropdown-item" href="#">Ăn uống</a>
                          <a class="dropdown-item" href="#">Vui chơi</a>
                          <a class="dropdown-item" href="#">Mua sắm</a>
                          <a class="dropdown-item" href="#">Đời sống</a>
                        <div class="dropdown-divider"></div>
                      </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="khuyen-mai.html">KHUYẾN MÃI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="su-kien.html">SỰ KIỆN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="thanh-vien.html">CHƯƠNG TRÌNH THÀNH VIÊN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="festival-go.html">FESTIVAL GO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="lien-he.html">LIÊN HỆ</a>
                    </li>
                  </ul>
                  
                </div>
              </nav>
        </div>
    </header>


    <section id="banner" style="margin-top: -2rem; margin-bottom: 2rem;">
        <div class="banner">
            <img src="../images/home/banner.png" alt="banner.png" class="w-100">
        </div>
    </section>

    <!-- content -->
    <section class="content-page px-57">
        <div class="title-hot-news d-flex justify-content-center border-0">
            <h2 class="font-33 bg-tim color-wh text-center">ĐANG DIỄN RA</h2>
        </div>
        <div class="home container-fluid">
            <div class="row w-lg-90 mx-auto">
                <div class="col-md-6 col-xs-12">
                    <div class="item">
                        <img src="../images/home/dang-dien-ra-0.png" alt="dang-dien-ra" class="w-100">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="item">
                        <div>
                            <img src="../images/home/dang-dien-ra-1.png" alt="" class="w-100">
                        </div>
                        <div>
                            <img src="../images/home/dang-dien-ra-1.png" alt="" class="w-100">
                        </div>
                        <div>
                            <img src="../images/home/dang-dien-ra-1.png" alt="" class="w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="home-content">
        <div class="home-event px-57 py-3">
            <div class="list-slide w-lg-90 px-57 mx-auto">
                <div class="slide-three p-3">
                    
                    <div>
                        <div class="item-slide">
                             <div class="image-slide-home">
                                 <img class="w-100" src="../images/home/slide.png" alt="title">
                             </div>
                             <div class="title-news bg-hong-phan p-3">
                                 <h6 class="font-13 color-tim">Lorem </h6>
                                 <h3 class="font-20 color-red">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
                                 <p class="font-13 text-justify ">
                                     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum sunt laborum repudiandae libero.
                                     
                                 </p>
                             </div>
                        </div>
                     </div>
                    <div>
                       <div class="item-slide">
                            <div class="image-slide-home">
                                <img class="w-100" src="../images/home/slide.png" alt="title">
                            </div>
                            <div class="title-news bg-hong-phan p-3">
                                <h6 class="font-13 color-tim">Lorem </h6>
                                <h3 class="font-20 color-red">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
                                <p class="font-13 text-justify ">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum sunt laborum repudiandae libero.
                                    
                                </p>
                            </div>
                       </div>
                    </div>
                    
                    <div>
                        <div class="item-slide">
                             <div class="image-slide-home">
                                 <img class="w-100" src="../images/home/slide.png" alt="title">
                             </div>
                             <div class="title-news bg-hong-phan p-3">
                                 <h6 class="font-13 color-tim">Lorem </h6>
                                 <h3 class="font-20 color-red">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
                                 <p class="font-13 text-justify ">
                                     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum sunt laborum repudiandae libero.
                                     
                                 </p>
                             </div>
                        </div>
                     </div>
                     <div>
                        <div class="item-slide">
                             <div class="image-slide-home">
                                 <img class="w-100" src="../images/home/slide.png" alt="title">
                             </div>
                             <div class="title-news bg-hong-phan p-3">
                                 <h6 class="font-13 color-tim">Lorem </h6>
                                 <h3 class="font-20 color-red">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
                                 <p class="font-13 text-justify ">
                                     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum sunt laborum repudiandae libero.
                                     
                                 </p>
                             </div>
                        </div>
                     </div>
                </div>
           </div>
           <div class="news-btn px-lg-4 w-lg-90">
                <div class="d-flex justify-content-right">
                    <button class="btn-more bg-tim color-wh px-4 py-2">Xem thêm</button>
                </div>
            </div>
        </div>
        <div class="home-week px-57">
            <div class="row w-lg-90 mx-auto">
                <div class="col-12 col-lg-8">
                    <div class="hot-news">
                        <div class="title-hot-news d-flex justify-content-center">
                            <h2 class="font-33 bg-tim color-wh text-center">LỊCH CHIẾU PHIM</h2>
                        </div>
                    </div>
                   <div class="w-lg-33 d-flex mx-auto py-3  justify-content-center">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active font-20" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tuần này</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-20" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tuần sau</a>
                            </li>
                        </ul>
                   </div>
                    <div class="tab-content py-3" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="week-content row">
                                <div class="col-12 col-lg-6 ">
                                   <div class="item-week ">
                                        <div class="image-week">
                                            <img class="w-100" src="../images/home/week.png" alt="okok">
                                        </div>
                                        <div class="title-news p-3">
                                            <h6 class="font-13 color-tim">Thể loại phim </h6>
                                            <h3 class="font-20 color-red">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
                                            <p class="font-13 text-justify ">
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum sunt laborum repudiandae libero.
                                                
                                            </p>
                                        </div>
                                   </div>
                                </div>
                                <div class="col-12 col-lg-6 ">
                                    <div class="item-week ">
                                         <div class="image-week">
                                             <img class="w-100" src="../images/home/week.png" alt="okok">
                                         </div>
                                         <div class="title-news p-3">
                                             <h6 class="font-13 color-tim">Thể loại phim </h6>
                                             <h3 class="font-20 color-red">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
                                             <p class="font-13 text-justify ">
                                                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum sunt laborum repudiandae libero.
                                                 
                                             </p>
                                         </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 px-lg-3">
                    <div class="hot-news">
                        <div class="title-hot-news d-flex justify-content-center">
                            <h2 class="font-33 bg-tim color-wh text-center">TIN TỨC</h2>
                        </div>
                    </div>
                    <div class="mt-5">
                        <div class="list-news-home">
                            <div class="item-news-home">
                                <div class="image-news">
                                    <img class="w-100" src="../images/home/news.png" alt="news">
                                </div>
                                <div class="title-news">
                                    <h3 class="font-20 color-red">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
                                    
                                </div>
                            </div>
                            <div class="item-news-home">
                                <div class="image-news">
                                    <img class="w-100" src="../images/home/news.png" alt="news">
                                </div>
                                <div class="title-news">
                                    <h3 class="font-20 color-red">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
                                    
                                </div>
                            </div>
                            <div class="item-news-home">
                                <div class="image-news">
                                    <img class="w-100" src="../images/home/news.png" alt="news">
                                </div>
                                <div class="title-news">
                                    <h3 class="font-20 color-red">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
                                    
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="home-festival position-relative">
            <div class="fes-title">
                <h2 class="font-33 text-center color-wh mb-4">ĐẾN VỚI FESTIVAL MARKET</h2>
                <h4 class="font-20 text-center color-wh mb-4">ĐỂ TRẢI NGHIỆM</h4>
                <h2 class="font-33 text-center color-wh">KHÔNG GIAN VĂN HÓA DU LỊCH</h2>
            </div>
            <div class="px-57 item-fest">
                <div class="row w-lg-90 mx-auto">
                    <div class="col-6 col-lg-3">
                        <div class="p-3 p-lg-5 bg-white mb-3 item-icon-fes">
                            <div class="d-flex justify-content-center mx-auto mb-3">
                                <div class="icon-fest">
                                    <img class="w-100" src="../images/home/icon-like.png" alt="icon">
                                </div>
                            </div>
                            <div class="content-fest">
                                <h3 class="font-20 color-tim text-center mb-3">Sản phẩm <br> chất lượng</h3>
                                <p class="font-15 mb-0 text-center">
                                    Hơn <span class="color-red">10.000</span> sẳn phẩm chất lượng cao và được chọn lựa kỹ càng
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="p-3 p-lg-5 bg-white mb-3 item-icon-fes">
                            <div class="d-flex justify-content-center mx-auto mb-3">
                                <div class="icon-fest">
                                    <img class="w-100" src="../images/home/icon-like.png" alt="icon">
                                </div>
                            </div>
                            <div class="content-fest">
                                <h3 class="font-20 color-tim text-center mb-3">Sản phẩm <br> chất lượng</h3>
                                <p class="font-15 mb-0 text-center">
                                    Hơn <span class="color-red">10.000</span> sẳn phẩm chất lượng cao và được chọn lựa kỹ càng
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="p-3 p-lg-5 bg-white mb-3 item-icon-fes">
                            <div class="d-flex justify-content-center mx-auto mb-3">
                                <div class="icon-fest">
                                    <img class="w-100" src="../images/home/icon-like.png" alt="icon">
                                </div>
                            </div>
                            <div class="content-fest">
                                <h3 class="font-20 color-tim text-center mb-3">Sản phẩm <br> chất lượng</h3>
                                <p class="font-15 mb-0 text-center">
                                    Hơn <span class="color-red">10.000</span> sẳn phẩm chất lượng cao và được chọn lựa kỹ càng
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="p-3 p-lg-5 bg-white mb-3 item-icon-fes">
                            <div class="d-flex justify-content-center mx-auto mb-3">
                                <div class="icon-fest">
                                    <img class="w-100" src="../images/home/icon-like.png" alt="icon">
                                </div>
                            </div>
                            <div class="content-fest">
                                <h3 class="font-20 color-tim text-center mb-3">Sản phẩm <br> chất lượng</h3>
                                <p class="font-15 mb-0 text-center">
                                    Hơn <span class="color-red">10.000</span> sẳn phẩm chất lượng cao và được chọn lựa kỹ càng
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-km">
            <div class="hot-news">
                <div class="title-hot-news d-flex justify-content-center border-0">
                    <h2 class="font-33 bg-tim color-wh text-center">KHUYẾN MÃI</h2>
                </div>
            </div>
            <div class="home-km-detail py-5 px-57 d-flex mx-auto">
                <div class="w-lg-75 mx-auto">
                    <div class="row">
                        <div class="col-12">
                            <div class="km-item km-item-lg mb-4">
                                <div class="km-img">
                                    <img class="w-100" src="../images/home/km-item.png" alt="KM">
                                </div>
                                <div class="km-comtent py-4 px-3">
                                    <h4 class="mb-0 font-20"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad consectetur </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="km-item mb-4">
                                <div class="km-img">
                                    <img class="w-100" src="../images/home/km-item.png" alt="KM">
                                </div>
                                <div class="km-comtent py-4 px-3">
                                    <h4 class="mb-0 font-20"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad consectetur </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="km-item mb-4">
                                <div class="km-img">
                                    <img class="w-100" src="../images/home/km-item.png" alt="KM">
                                </div>
                                <div class="km-comtent py-4 px-3">
                                    <h4 class="mb-0 font-20"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad consectetur </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="km-item mb-4">
                                <div class="km-img">
                                    <img class="w-100" src="../images/home/km-item.png" alt="KM">
                                </div>
                                <div class="km-comtent py-4 px-3">
                                    <h4 class="mb-0 font-20"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad consectetur </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-center mb-3 mt-3">
                                <button class="btn-more bg-tim color-wh px-4 py-2">Xem thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="home-fes-go px-57 mt-4">
            
            <div class="hot-news">
                <div class="title-hot-news d-flex justify-content-center border-0">
                    <h2 class="font-33 bg-tim color-wh text-center">FESTIVAL GO</h2>
                </div>
            </div>
            <div class=" bg-hong-phan py-3 py-lg-5 fes-go-detail">
                <div class="w-lg-90 mx-auto py-4  ">
                    <div class="row item-go-fes">
                        <div class="col-12 col-lg-6">   
                            <div class="row item-level">
                                <div class="col-12 col-lg-6 my-4">
                                    <div class="img-fes-go">
                                        <img class="w-100" src="../images/home/img-fes-go.png" alt="img">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 my-4 pt-3">
                                    <h6 class="color-tim font-13 pl-2">Lorem </h6>
                                    <h4 class="color-red font-25 pl-2">Lorem sit amet consectetur</h4>
                                    <p class="font-20 pl-2">Lorem sit amet consectetur elit Lorem sit amet consectetur elit</p>
                                </div>
                                <div class="col-12 col-lg-6 my-4">
                                    <div class="img-fes-go">
                                        <img class="w-100" src="../images/home/img-fes-go.png" alt="img">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 my-4 pt-3">
                                    <h6 class="color-tim font-13 pl-2">Lorem </h6>
                                    <h4 class="color-red font-25 pl-2">Lorem sit amet consectetur</h4>
                                    <p class="font-20 pl-2">Lorem sit amet consectetur elit Lorem sit amet consectetur elit</p>
                                </div>
                                <div class="col-12 col-lg-6 my-4">
                                    <div class="img-fes-go">
                                        <img class="w-100" src="../images/home/img-fes-go.png" alt="img">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 my-4 pt-3">
                                    <h6 class="color-tim font-13 pl-2">Lorem </h6>
                                    <h4 class="color-red font-25 pl-2">Lorem sit amet consectetur</h4>
                                    <p class="font-20 pl-2">Lorem sit amet consectetur elit Lorem sit amet consectetur elit</p>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">   
                            <div class="row item-level">
                                <div class="col-12  my-4">
                                    <div class="img-fes-go">
                                        <img class="w-100" src="../images/home/fes-go-lg.png" alt="img">
                                    </div>
                                </div>
                                <div class="col-12  my-4 p-3 p-lg-5 mb-lg-0">
                                    <h5 class="color-tim font-20 pl-2">Lorem lorem </h5>
                                    <h3 class="color-red font-30 pl-2">Lorem sit amet consectetur sit amet sit amet consectetur sit amet consectetur</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pt-0 pt-lg-4">
                            <div class="d-flex justify-content-center mt-3 mt-lg-0">
                                <button class="btn-more bg-tim color-wh px-4 py-2">XEM THÊM</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- footer  -->
    <footer class="footer bg-cam px-57">
        <div class="row align-items-center">   
            <div class="col-md-2 col-sm-4 col-12">
                <div class="logo-footer">
                    <div class="d-flex justify-content-center mx-auto logo-wh">
                        <img src="../images/layout/Logo-wh.png" alt="logo">
                    </div>
                    <div>
                        <div class="icon-head">
                            <div class="d-flex justify-content-center ">
                                <span class="active"><i class="fa-brands text-white fa-facebook "></i></span>
                                <span><i class="fa-brands text-white fa-instagram"></i></span>
                                <span><i class="fa-brands text-white fa-youtube"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-8 col-12">
                <div class="menu-footer row">
                    <div class="col-6">
                        <ul class="menu-bot">
                            <li class="item-footer">
                                <a href="tin-tuc.html">Tin tức</a>
                            </li>
                            <li class="item-footer">
                                <a href="khuyen-mai.html">Khuyến mại</a>
                            </li>
                            <li class="item-footer">
                                <a href="member.html">Chương trình thành viên</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="menu-bot">
                            <li class="item-footer">
                                <a href="su-kien.html">Sự kiện</a>
                            </li>
                            <li class="item-footer">
                                <a href="festival-go.html">Festival Go</a>
                            </li>
                            <li class="item-footer">
                                <a href="lien-he.html">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6   col-12">
                <div class="sign-up">
                    <div class="top-sign">
                        <h3 class="font-25 text-white pt-3">
                            Newsletter Sign Up
                        </h3>
                        <input type="text" class="input-sign ">
                    </div>
                    <div class="add-footer">
                        <ul>
                            <li class="detail-add">
                                <span>Địa chỉ:</span> <span class="ml-2"> 3-5 Phạm Văn Đồng, thành phố Nha Trang</span>
                            </li>
                            <li class="detail-add">
                                <span>Hotline:</span> <span class="ml-2"> 089 808 9586</span>
                            </li>
                            <li class="detail-add">
                                <span>Email:</span> <span class="ml-2"> cskh@festivalmarket.vn</span>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- script -->
    
   
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../slick/slick.js"></script>
    <script src="../Js/common.js"></script>


</body>
</html>